<div>
    <form action="/search/" >
        <select name="search_type" id="search_type">
            {% if request.GET.search_type == 'article' %}
                <option value="article" selected>文章</option>
            {% else %}
                <option value="article">文章</option>
            {% endif %}
            {% if request.GET.search_type == 'recipe'%}
                <option value="recipe" selected>菜谱</option>
            {% else %}
                <option value="recipe">菜谱</option>
            {% endif %}
            
        </select>
        <input 
            type="text" 
            name="query" 
            value="{{ request.GET.q }}" 
            hx-get="/search/"
            hx-trigger="keyup change delay:200ms"
            hx-include="#search_type"
            hx-target="#typeahead-results"
            />
        
        <input type="submit" />
    </form>
    <div id="typeahead-results"></div>
</div>
