{% extends 'base.html'%}
{% block content %}
    <style>
        .hidden {
            display: none;
        }
    </style>
   {% include 'recipes/partials/forms.html' %}
   <h3>菜谱材料</h3>
    {% for ingredient in object.get_ingredient_children %}
        {% include 'recipes/partials/ingredient-inline.html' with object=ingredient %}
    {% endfor %}
    {% if new_ingredient_url %}
        <div id="ingredient-create"></div>
        <button 
            hx-get="{{new_ingredient_url}}" 
            hx-target="#ingredient-create" 
            hx-trigger="click"
            hx-swap="beforeend"
            >
            添加材料
        </button>
    {% endif %}
    <script>
        addMoreButton = document.getElementById('add-more')
        
        document.addEventListener('click',(event)=>{
            if(event.target.id==='add-more'){
                add_new_form(event)
            }
        })
        
        function add_new_form(event){
            const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
            if(event){
                event.preventDefault()
            }
            const currentIngredientForms = document.getElementsByClassName('ingredient-form')
            const currentFormCount = currentIngredientForms.length
           

            const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
            copyEmptyFormEl.setAttribute('class','ingredient-form')
            copyEmptyFormEl.setAttribute('id',`form-${currentFormCount}`)
            const regex = new RegExp('__prefix__','g')
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex,currentFormCount)
            const ingredientList = document.getElementById('ingredient-form-list')
            totalNewForms.setAttribute('value',currentFormCount+1)
            console.log(totalNewForms.getAttribute('value'))
            ingredientList.append(copyEmptyFormEl)
        }
    </script>
{% endblock %}