{% extends 'base.html'%}
{% block content %}
    <style>
        .hidden {
            display: none;
        }
    </style>
    <div style="margin-top: 30px;">
     {% if message %}
        <p>{{ message }}</p>
     {% endif %}
    <form action="." method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
            <div class="{% if field.field.required %}{{form.required_css_class}}{% endif %}">
            {{ field }}
            {% if field.help_text %}
                <p class="help">
                    {{ field.help_text| safe }}
                </p>
            {% endif %}
            </div>
        {% endfor %}
        <h3>所需材料</h3>
        {% if formset %}
        {{ formset.management_form }}
        <div id="ingredient-form-list">
            {% for form in formset %}
            <div class="ingredient-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
            </div>
            <div id="empty-form" class="hidden">{{ formset.empty_form.as_p }}</div>
            <button id="add-more" type="button">添加材料</button>
        {% endif %}
        <div  style="margin-top: 10px;">
            <button type="submit">新建</button>
        </div>
    </form>
    </div>
    <script>
        addMoreButton = document.getElementById('add-more')
        addMoreButton.addEventListener('click',add_new_form)
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
        function add_new_form(event){
            if(event){
                event.preventDefault()
            }
            const currentIngredientForms = document.getElementsByClassName('ingredient-form')
            const currentFormCount = currentIngredientForms.length
           

            const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
            copyEmptyFormEl.setAttribute('class','ingredient-form')
            copyEmptyFormEl.setAttribute('id',`form-${currentFormCount}`)
            const regex = new RegExp('__prefix__','g')
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex,currentFormCount)
            const ingredientList = document.getElementById('ingredient-form-list')
            totalNewForms.setAttribute('value',currentFormCount+1)
            console.log(totalNewForms.getAttribute('value'))
            ingredientList.append(copyEmptyFormEl)
        }
    </script>
{% endblock %}