body {
 color:red !important;
}
.htmx-indicator {
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-button-indicator{
    display:inline;
}
.htmx-request .htmx-button-indicator{
    display:none;
}